force-app/main/default/flows/createTR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>createTR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createTR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>FlowCreateTr</name>
        <label>FlowCreateTr</label>
        <locationX>596</locationX>
        <locationY>69</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount__c</field>
            <value>
                <elementReference>AmountFlowCreateTR</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_transaction</name>
        <label>New transaction</label>
        <locationX>446</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FlowCreateTr</targetReference>
        </connector>
        <fields>
            <name>FlowCreateTrDisplay</name>
            <fieldText>&lt;p&gt;Create new transaction&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Purpose</name>
            <dataType>String</dataType>
            <fieldText>Purpose</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AmountFlowCreateTR</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_transaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
